.animate-slideUp {
  animation: slideUp 0.3s ease-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes tabPress {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.tab-press {
  animation: tabPress 0.2s ease-out;
}

.transaction-swiper,.person-swiper {
  overflow: hidden;
  border-radius: 0.5rem;
}